#images-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-img {
  max-width: 300px;
  max-height: 300px;
  margin: 50px auto;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 2px;
}

.card-title {
  font-size: 15px;
  font-weight: 800;
  margin: 15px 0 8px;
  text-transform: uppercase;
}

.details {
  font-size: 14px;
  color: rgb(113, 105, 105);
}

.details a {
  color: #110687;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.btn {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn:nth-child(1) {
  background: #3bc6b6;
  color: white;
}

.btn:nth-child(2) {
  background: #ff8686;
  color: white;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transform: scale(1);
  opacity: 0;
  transition: 0.4s;
}

.ripple:active:after {
  opacity: 1;
  transform: scale(30);
}
